<div class="row">
  <div class="col-12 col-md-6">
    <nb-card>
      <nb-card-header>
        <h6>Adicionar do critério</h6>
      </nb-card-header>
      <nb-card-body>
        <form>
          <div class="row g-4">
            <div class="col-12">
              <input type="text" nbInput placeholder="Nome" fullWidth />
            </div>
            <div class="col-12">
              <textarea rows="6" nbInput fullWidth placeholder="Descrição"></textarea>
            </div>
          </div>
        </form>
      </nb-card-body>
      <nb-card-footer>
        <button class="me-auto" nbButton status="danger" ghost>Remover</button>
        <button nbButton status="basic" routerLink="/criteria">Cancelar</button>
        <button nbButton status="primary">Salvar</button>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-12 col-md-6">
    <nb-card>
      <nb-card-header>
        <h6>Itens do critério</h6>
        <button nbButton status="primary" size="tiny" (click)="openDialog(dialog)">
          <nb-icon icon="plus"></nb-icon>
        </button>
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let item of criterionItems" [routerLink]="[item?.id]">
          <span class="text-hint">{{ item?.id }}</span>
          <div>
            <div>
              <strong>{{ item?.name }}</strong> ({{ item?.weight }})
            </div>
            <div class="text-hint text-wrap">{{ item?.description?.slice(0, 50) }}...</div>
          </div>
          <div class="ms-auto">
            <button nbButton status="danger" ghost><nb-icon icon="trash"></nb-icon></button>
            <button nbButton status="primary" ghost (click)="openDialog(dialog)">
              <nb-icon icon="edit"></nb-icon>
            </button>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      <h6>Item do critério</h6>
    </nb-card-header>
    <nb-card-body>
      <form>
        <div class="row g-4">
          <div class="col-12 col-md-6">
            <input type="text" nbInput placeholder="Nome" fullWidth />
          </div>
          <div class="col-12 col-md-6">
            <input type="number" nbInput placeholder="Peso" fullWidth />
          </div>
          <div class="col-12">
            <textarea rows="6" nbInput fullWidth placeholder="Descrição"></textarea>
          </div>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer class="d-flex align-items-center justify-content-end gap-2">
      <button nbButton status="basic" (click)="ref.close()">Cancelar</button>
      <button nbButton status="primary" (click)="ref.close()">Salvar</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
